@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'YekanBakh Regular';
        src: url("../public/fonts/YekanBakh-Regular.ttf") format('truetype');
    }
    @font-face {
        font-family: 'YekanBakh Bold';
        src: url("../public/fonts/YekanBakh-Bold.ttf") format('truetype');
    }
    @font-face {
        font-family: 'YekanBakh Medium';
        src: url("../public/fonts/YekanBakh-Medium.ttf") format('truetype');
    }
    @font-face {
        font-family: 'YekanBakh ExtraBold';
        src: url("../public/fonts/YekanBakh-Fat.ttf") format('truetype');
    }
    @font-face {
        font-family: 'YekanBakh Light';
        src: url("../public/fonts/YekanBakh-Light.ttf") format('truetype');
    }
    @font-face {
        font-family: 'YekanBakh Thin';
        src: url("../public/fonts/YekanBakh-Thin.ttf") format('truetype');
    }
}

@layer components {
    .mobile__menu--open {
        right: 0 !important;
    }
    .mobile-categories--open {
        @apply text-title dark:text-white
    }
    .mobile-categories--open > ul {
        display: inline-block !important;
    }
    .mobile-categories--open > div > span > svg {
        transform: rotate(180deg);
    }
    .mobile-categories__submenu--open {
        @apply text-title dark:text-white
    }
    .mobile-categories__submenu--open > ul {
        display: inline-block !important;
    }
    .mobile-categories__submenu--open > a > svg {
        transform: rotate(-45deg);
    }
    .cover--show {
        visibility: visible !important;
        opacity: 1 !important;
    }
}