@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "YekanBakh Regular";
        font-style: normal;
        font-weight: normal;
        font-display: block;
        src: url('../public/fonts/YekanBakhFaNum-Regular.woff') format('woff')
    }

    @font-face {
        font-family: "YekanBakh SemiBold";
        font-style: normal;
        font-weight: 600;
        font-display: block;
        src: url('../public/fonts/YekanBakhFaNum-SemiBold.woff') format('woff')
    }

    @font-face {
        font-family: "YekanBakh Bold";
        font-style: normal;
        font-weight: bold;
        font-display: block;
        src: url('../public/fonts/YekanBakhFaNum-Bold.woff') format('woff')
    }
    @font-face {
        font-family: "YekanBakh Black";
        font-style: normal;
        font-weight: 900;
        font-display: block;
        src: url('../public/fonts/YekanBakhFaNum-Black.woff') format('woff')
    }

    :root {
        --color-primary: 29 78 216;
        --color-success: 34 197 94;
        --color-caption: 75 85 99;
        --color-title: 9 9 11;
        --color-secondary: 244 244 245;
        --color-background: 255 255 255;
        --color-border: 228 228 231;
    }

    :root.dark {
        --color-primary: 29 78 216;
        --color-success: 22 101 52;
        --color-caption: 107 114 128;
        --color-title: 255 255 255;
        --color-secondary: 23 23 28;
        --color-background: 0 0 0;
        --color-border: 39 39 42;
    }

    body {
        background-color: rgb(var(--color-background));
        color: rgb(var(--color-caption));
        min-height: 100vh;
        font-family: "YekanBakh Regular";
    }

}

@layer components {
    .session--open{
        color: rgb(var(--color-title));
    }

    .session--open > span > svg {
        transform: rotate(180deg);
    }
}